<div class="product-details">

{{!==Header ==}}
    <section>
      <h3>Gabumon</h3>
      <div class="text-warning">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </section>

    <section>
      <h6>Alternate card art!</h6>
    </section>

    {{!== Price ==}}
    <section>
      <h5>$12.99</h5>
    </section>

</div>