
<GeneralContainer>
  <div class="product item-details-page">
    <Product::Image @src={{this.productImage}}/>
    <Product::Details @color={{this.color}} @onChangeColor={{this.onChangeColor}}/>
  </div>
  <h5 class="mt-5">Card Details</h5>
  <!--
  <ul>
    <li>Name: Agumon</li>
    <li>Card Type: Digimon</li>
    <li>Color: Red</li>
    <li>Digivolve Color: Red</li>
    <li>Play Cost: 3</li>
    <li>Digivolve Cost: 0</li>
    <li>Level: 3</li>
    <li>Power: 2000</li>
    <li>Type: Dinosaur</li>
    <li>Attribute: Vaccine</li>
    <li>Stage Level: Rookie</li>
    <li>Rarity: Rare</li>
    <li>Artist: TANIMESO</li>
    <li>Card Number: BT1-010</li>
    <li>Effect: [On Play] Reveal 5 cards from the top of your deck. Add 1 Tamer card among them to your hand. Place the remaining cards at the bottom of your deck in any order.</li>
  </ul>
  -->
  A very cute card.
</GeneralContainer>

